<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>
    <bean id="rest" class="org.springframework.web.client.RestTemplate" />

    <bean id="1" class="ru.testBot.telegram.WeatherProvider">
        <property name="restTemplate" ref="rest" />
        <property name="appKey" value = "${api.Key}" />
    </bean>

    <bean id="second" class="ru.testBot.telegram.WeatherCache" >
        <property name="weatherProvider" ref="1"/>
    </bean>

    <bean id="third" class="ru.testBot.telegram.Bot" >
        <property name="weatherCache" ref="second"/>
        <property name="tokenBot" value="${bot.Token}"/>
        <property name="nameBot" value="${bot.Name}" />

    </bean>
</beans>